body { /* body est le sélecteur - ici on sélectionne le body */
    background-color: orange;
}

p { /* p est le sélecteur - ici on sélectionne tout les paragraphes */
    color: greenyellow;
    font-size: 16px;
}
