/* style des h1 */
h1 {
    color: rgba(140, 82, 58, 0.78);
}

/* style des paragraphes */
p {
    color: blue;
}
/* style des liens */
a {
    color: green; /* texte vert */
    font-weight: bold; /* texte gras */
}