p {
    font-family: "Arial Black", Georgia, Verdana, sans-serif;
}

.pixelAbsolue24 {
    /* en pixel (taille absolue) */
    font-size: 18px;
}

.emRelative {
    /* en em (taille realtive) */
    font-size: 1.3em; /*1em: taille normale >1 pour grossir & >1 pour diminuer */
}

.exRelative {
    /* en ex (taille relative) */
    font-size: 1.5ex;  /* Même principe que em mais plus petit */
}

.pourcentageRelative {
    /* en % (taille relative) */
    font-size: 110%;
}
